<!-- views/partials/header.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Puny Vote</title>
  <!-- Bootstrap CSS -->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  />
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <nav class=" container navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Puny Vote</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <% if (user) { %>
          <li class="nav-item">
            <a class="nav-link" href="/organizer/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/signout">Sign Out</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/signin">Login</a>
          </li>
        <% } %>
      </ul>
    </div>
  </nav>
