<!-- views/partials/header.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Puny Vote</title>
  <!-- Favicon -->
  <link rel="icon" href="https://img.icons8.com/?size=100&id=LK21wgDHWGnA&format=png&color=ffc107" type="image/png">
  <!-- Bootstrap CSS -->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/styles.css" />
  <!-- ParticleJs -->
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <!-- Driver.js CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/driver.js/0.9.8/driver.min.css" integrity="sha512-yQuTmOu0Rm68Udrrd2uqDvHc/xzvQxJoNzYgLn7SK+EpPuEKZu82S44D2G++HLiz6lhUShgJPOri7zvRTVtyZQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
  <nav class="container navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Puny Vote</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <% if (typeof user !== 'undefined' && user) { %>
          <li class="nav-item">
            <a class="nav-link" href="/organizer/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/signout">Sign Out</a>
          </li>
        <% } else { %>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="/auth/signin">Login</a>
          </li>
        <% } %>
      </ul>
    </div>
  </nav>
