<!-- views/404.ejs -->

<%- include('partials/header') %>

<div class="container mt-5">
  <div class="text-center">
    <h1 class="display-4 text-danger">404</h1>
    <h2 class="text-warning">Page Not Found</h2>
    <!-- <p class="lead"><%= message %></p> -->
    <a href="/" class="btn btn-outline-danger mt-3">Go to Home</a>
  </div>
</div>

<%- include('partials/footer') %>
