<!-- views/answerPanelEnd.ejs -->
<%- include('partials/header') %>
<div class="container mt-5">
  <div class="signBox">
  <h4 class="text-warning"><i class="fa-solid fa-square-poll-vertical"></i> <%= voteSession.title %></h4>


  <h1 class="text-light"><i class="fa-solid fa-flag-checkered"></i> End of the Vote</h1>

  <br><br>

  <h4 class="text-info">Thanks for voting! The universe is now 0.0001% more balanced probably.</h4>
  
  
  
  



  </div>
</div>







<%- include('partials/footer') %>